<nav> 
    <div> 
        <%= link_to "Products", products_path, class: "navbar-item" %>
        <%= link_to "Customers", customers_path, class: "navbar-item" %>
        <%= link_to "Purchases", purchases_path, class: "navbar-item" %>
    </div>
</nav> 