<h1> About Page </h1> 

<p> 
    For this project, the sources that supply this application with data is the <a href=http://makeup-api.herokuapp.com/>makeup API</a> and faker. 
</p>

<br>

<p>
    About Makeup API: The Makeup API is an extensive database of makeup that transports through HTTP. Data format is in json and includes extensive detail of a wide variety of makeup. 
</p>


<p>
    About Faker: Faker is a gem that has the ability to generate almost any realistic fake data. Developers often use this gem for testing, demos, and populating their databases during development.
</p>



