<h1> About Page </h1> 
<p> This is the about page for my Intro to Rails Data Project </p>
<br>
<p> This page simulates an enterprise resource planning system that contains data from the makeup api and simulated customer data using faker. </p>

<p> The system's database is made up of 5 different tables. </p>

